
h1{
  font-size: 100px;
  color:rgba(20, 116, 20, 0.466);

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
    
    


  }
  li {
    
    float: left;
  }
  li , a {
    display: block;
    padding: 8px;
    background-color: #dddddd;

  }
  li a:hover {
    background-color: rgba(17, 17, 17, 0.466);
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(17, 16, 16, 0.904);
  }
.contain{
  padding: 20px 20px;
}



img {
  
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
  


  
.card{
    
    flex: 0 0 33%;
    margin: 1px;
    background-color: rgba(20, 116, 20, 0.466);
  
 }
    
    


 main{
    display: flex; 
    flex-wrap: wrap;
    
 }

 
  .para{
    color: white;
  }   
